<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @moment_category.text %>
</p>

<%= link_to 'Edit', edit_moment_category_path(@moment_category) %> |
<%= link_to 'Back', moment_categories_path %>
