<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @favourite_category.title %>
</p>

<%= link_to 'Edit', edit_favourite_category_path(@favourite_category) %> |
<%= link_to 'Back', favourite_categories_path %>
