<!DOCTYPE html>
<html>
<head>
  <title>Ranked</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="margin: 0px auto;width:960px;">
<h1 style='text-align:center'>Ranked Admin Panel</h1>
<br /><br />
<%= yield %>
</div>

</body>
</html>
